<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://i.icomoon.io/public/3db54d4e03/GarageSaleApp/style.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Welcome | Muhammad Yaqoob</title>
</head>

<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>
                    <span class="mark">Muhammad</span> Yaqoob</h1>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#showcase">Home</a>
                    </li>
                    <li>
                        <a href="#skills">Skills</a>
                    </li>
                    <li>
                        <a href="#aboutme">About me</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="border"></div>

    <section id="showcase">
        <div class="container">
            <div class="title">
                <div class="dynamic-title cd-headline clip is-full-width">
                    <span>I have been as&nbsp;</span>
                    <span class="cd-words-wrapper">

                        <b class="is-visible"> a&nbsp;
                            <span class="gold-title">Graphic Designer.</span>
                        </b>
                        <b> a&nbsp;
                            <span class="gold-title">UI & UX Designer.</span>
                        </b>
                        <b>a&nbsp;
                            <span class="gold-title">Web Developer.</span>
                        </b>
                        <b>an&nbsp;
                            <span class="gold-title">Machine Learning.</span>
                        </b>
                        <b>a&nbsp;
                            <span class="gold-title">Architecture.</span>
                        </b>
                    </span>
                </div>
            </div>
            <div class="under"></div>
        </div>
    </section>

    <section id="skills">
        <div class="container">
            <h1>My Skills</h1>
            <div id="prog">
                <img src="../static/img/prog.png" alt="">
                <ul>
                    <li>python</li>
                    <li>Javascript</li>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>Ruby</li>
                    <li>C#</li>
                    <li>C++</li>
                    <li>PHP</li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ipsa possimus praesentium veritatis ex saepe,
                    dolorum repellendus commodi mollitia, impedit dicta corporis magnam incidunt. Sit maiores blanditiis
                    excepturi reiciendis magnam nesciunt explicabo minus officiis, qui veritatis quis saepe a veniam, fugiat
                    cumque nihil voluptate? Eum quaerat vitae nesciunt maxime rerum.</p>
                <ul id="desc">
                    <li>python Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed repellendus minus voluptatem nostrum
                        quisquam. Sunt tenetur unde dolores, quis natus qui porro dolorum nostrum ipsam, voluptatum, iure
                        molestiae molestias quibusdam.</li>
                    <li>python Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat expedita culpa quisquam dignissimos.
                        Laudantium explicabo officia, ratione quisquam, recusandae iste ipsam perspiciatis est debitis error
                        rerum vel quae incidunt harum.</li>
                    <li>python Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id rem ab obcaecati aut accusamus
                        officiis modi quisquam nisi fugiat soluta necessitatibus doloribus sunt praesentium adipisci, ullam
                        nihil perspiciatis cum.</li>
                    <li>python Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, officia quae quidem ipsa laudantium,
                        quis quibusdam facere tempora odio totam id, at illo laboriosam expedita quia sed? Sit, id perferendis?</li>
                    <li>python Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nemo, distinctio labore itaque
                        asperiores minima. Dolore pariatur unde, ad consequuntur est aliquam, doloremque labore, tempore
                        dolorum facere illum asperiores. Praesentium?</li>
                    <li>python Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit numquam, vero ipsa commodi reiciendis
                        amet perspiciatis quibusdam eveniet sequi quam culpa fugiat eum blanditiis ut ex iste fuga, dolore
                        libero.
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="aboutme">
        <div class="container">
            <h1>About Me</h1>
            <div class="aboutimg">
                <img src="../static/img/myimg.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dolor impedit perspiciatis nisi rem illum
                    eum repellendus, provident laudantium quam optio aut quia voluptas ad accusamus maxime sint dignissimos
                    culpa in labore eos quas tempora corrupti? Repudiandae libero voluptas, dolorum natus blanditiis aliquam
                    deserunt nesciunt fugiat at modi itaque cupiditate.</p>
                <br>
                <div class="edge">
                    <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                    <a href="https://www.twitter.com" class="fa fa-twitter"></a>
                    <a href="https://www.linkedin.com" class="fa fa-linkedin"></a>
                    <a href="https://www.github.com" class="fa fa-github"></a>
                </div>
            </div>

        </div>
    </section>

    <section id="services">
        <div class="container">
            <h1>Services</h1>
            <article>
                <div class="parg">
                    <h3>Web Development</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque doloribus delectus minus quis quibusdam
                        sit omnis magni magnam maiores. Minima rem sed voluptates esse adipisci praesentium assumenda libero
                        distinctio similique totam accusantium voluptatum eveniet necessitatibus, alias, nesciunt maxime
                        voluptas. Eveniet similique eum aperiam omnis quasi voluptate tempore perferendis optio sapiente?</p>
                </div>
                <div class="parg">
                    <h3>Machine Learning</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque doloribus delectus minus quis quibusdam
                        sit omnis magni magnam maiores. Minima rem sed voluptates esse adipisci praesentium assumenda libero
                        distinctio similique totam accusantium voluptatum eveniet necessitatibus, alias, nesciunt maxime
                        voluptas. Eveniet similique eum aperiam omnis quasi voluptate tempore perferendis optio sapiente?</p>
                </div>
                <div class="parg">
                    <h3>Mobile Development</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque doloribus delectus minus quis quibusdam
                        sit omnis magni magnam maiores. Minima rem sed voluptates esse adipisci praesentium assumenda libero
                        distinctio similique totam accusantium voluptatum eveniet necessitatibus, alias, nesciunt maxime
                        voluptas. Eveniet similique eum aperiam omnis quasi voluptate tempore perferendis optio sapiente?</p>
                </div>
                <div class="parg">
                    <h3>Architecture</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque doloribus delectus minus quis quibusdam
                        sit omnis magni magnam maiores. Minima rem sed voluptates esse adipisci praesentium assumenda libero
                        distinctio similique totam accusantium voluptatum eveniet necessitatibus, alias, nesciunt maxime
                        voluptas. Eveniet similique eum aperiam omnis quasi voluptate tempore perferendis optio sapiente?</p>
                </div>
            </article>
        </div>
    </section>

    <form action="/submit" method="POST">
        <section id="contact">
            <div class="container">
                <h1>Contact</h1>
                <div class="cont">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos neque deserunt commodi quasi nulla reiciendis
                        fugiat dignissimos quod iusto itaque. Eveniet vel, sunt omnis animi consequatur iusto nemo? Nobis,
                        harum.
                    </p>
                </div>
                <div class="edge">
                    <a href="https://www.yahoo.com" class="fa fa-yahoo"></a>
                    <a href="https://www.linkedin.com" class="fa fa-linkedin"></a>
                </div>

                <div id="mailling">
                    <input type="text" name="mail" placeholder="Enter Email">
                    <button type="submit">GO!</button>
                </div>
            </div>
        </section>
    </form>

    <footer>MUHAMMAD YAQOOB Copyright &copy; All Reverse</footer>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../static/js/script.js"></script>
</body>

</html>